.nested-fields
  .col-xs-12.col-sm-10
    = f.text_area :meaning, placeholder: 'meaning', class:'form-control'
  .col-xs-4.col-sm-2
    = link_to_remove_association "X", f, class:'btn btn-danger'
  %br
  .clearfix