.search
  = search_form_for @q, html: { class: 'search-form' } do |form|
    .col-xs-12.col-md-8.col-lg-5.m-b-1
      = form.search_field :name_cont, placeholder: 'SEARCH', class: "form-control"
    .col-xs-12.col-md-4.col-lg-3.m-b-1.text-lg-left
      = form.submit :Search, class: "btn btn-primary"
    .text-xs-center.col-xs-12.col-md-12.col-lg-4.m-b-1.text-md-center.text-lg-right
      .btn_add= link_to 'Add Your Name', new_name_path
.clearfix
%br
.alph
  - for char in 'A'..'Z'
    %a{:href => "names?utf8=✓&q%5Bname_cont%5D=#{char}"}= char
  %br
  %br
  %p Search for names by alphabet
  
-if @names.blank?
  %p There are no names containing the term(s)
  .m-y-1= link_to 'click here to add a meaning for ' "#{params[:q].values[0]}" , new_name_path
- else
  - @names.each do |n|
    %br
    - unless n.country.blank?
      .name
        .f16
          .flag{class:"#{n.country}"} &nbsp;
          %h3= link_to n.name, name_path(n)
    - else
      .name
        %h3= link_to n.name, name_path(n)
  