= form_for @name, :url => names_path do |f|
  = render partial: 'shared/error_messages', locals: { object: @name }
  .col-xs-12.col-sm-6
    = f.text_field :name, placeholder: 'Name', class:'form-control'
  .col-xs-12.col-sm-6.m-t-1
    = f.label :country
    = f.select :country, @all_countries.collect { |c| [c.name, c.abv] }, include_blank: true, class:'form-control'
  .col-xs-12.m-t-1
    = f.fields_for :meanings do |m|
      = render 'meaning_fields', f: m
    .links.m-t-2.m-b-2
      %h1= link_to_add_association 'Add meaning', f, :meanings
  %br
  .clearfix
  .m-b-2= f.submit "Add name", class: 'btn btn-primary'