.col-md-6.text-xs-left
  = link_to 'Add Your Name', new_name_path, class: "btn btn-success"

.col-md-6.text-xs-right
  = link_to "BACK", root_path, class: "btn btn-primary"
.name.m-t-3.p-b-3
  - unless @name.country.blank?
    .f16
      .flag{class: "#{@name.country}"} &nbsp;
      %h3= @name.name
  - else
    %h3= @name.name

  - @name.meanings.each do |m|
    %br
    %p " #{m.meaning} "
