* {
  margin: 0;
  padding: 0;
}

.pic-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/

          animation: slideShow 24s linear infinite 0s;
       -o-animation: slideShow 24s linear infinite 0s;
     -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
  opacity: 1;
  background: asset-url("person1.jpg") no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.pic-2 {
          animation-delay: 6s;
       -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: asset-url("person2.jpg") no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.pic-3 {
          animation-delay: 12s;
       -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: asset-url("person3.jpg") no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.pic-4 {
          animation-delay: 18s;
       -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: asset-url("person4.jpg") no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
/* keyframes*/

@keyframes slideShow {
  0% {
    opacity: 0;
        transform: scale(1);
    -ms-transform: scale(1);
  }
  4% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
        transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transformm: scale(1);
  }
}

@-o-keyframes slideShow {
  0% {
    opacity: 0;
    -o-transform: scale(1);
  }
  4% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
    -o-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -o-transformm: scale(1);
  }
}

@-moz-keyframes slideShow {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
  4% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
    -moz-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -moz-transformm: scale(1);
  }
}

@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  4% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transformm: scale(1);
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  line-height: 1.4;
  margin: 0 0 200px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[class^="span-"] {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

/* Generate widths for spans 1-12 */
@for $i from 1 through 12 {
  .span-#{$i} {
    width: ($i/12) * 98%; /* This is incorrect */
  }
}

.container {
  position: relative;
  top: 200px;
  padding-top: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgba(#efefef, .5);
  z-index: 9999;
}
.site_header {
  width: 100%;
  height: 70px;
  background-color: $lightgrey;
}
.header_container {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  h1 {
    padding: 20px 0;
    font-size: 25px;
    color: $midblue;
    a {
      text-decoration: none;
      color: $midblue;
    }
  }
}
.alph {
  margin: 3% 0 3%;
  background-color: rgba($gray, .3);
  padding: 13px 0;
  a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: $midblue;
    line-height: 1.8em;
    &:hover {
      background-color: $darkcyan;
      color: $white;
    }
    &:visited {
      color: $midblue;
    }
  }
}
.search {
  margin-top: 10%;
  input[type=text] {
    width: 100%;
    height: 10%;
    padding: 10px;
  }
  button {
    background-color: $midblue;
    padding: 10px;
    font-weight: normal;
    overflow: visible;
    text-align: center;
    color: $white;
    text-decoration: none;
    border-radius: 5px;
    width: 60%;
    a {
      text-decoration: none;
      color: $white;
    }
  }
  .btn_add {
    background-color: $green;
    padding: 15px 10px;
    font-weight: normal;
    overflow: visible;
    text-align: center;
    color: $white;
    text-decoration: none;
    border-radius: 5px;
    width: 60%;
    display: inline-block;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}
.name {
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: $darkblue;
  }
  h3 {
    font-size: 22px;
    font-weight: bold;
    color: $darkblue;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    color: $blue;
  }
}
.flashes {
  padding: 0;
  ul {
    list-style-type: none;
  }
}

[class^="flash_"] {
  font-size: 16px;
  text-align: center;
  padding: 10px;
}
.flash_success {
  border: 1px solid $green;
  color: $green;
}
.flash_error {
  background-color: $red;
  color: $white;
}
.flash_notice {
  background-color: $lightblue;
  color: $black;
}
