$darkblue: #0d0c2d;
$midblue: #045c90;
$lightblue: #c2eefc;
$verylightblue: #eef9fd;
$lightgrey: #cccccc;
$yellow: #f1d54c;
$white: #ffffff;
$black: #000000;
$green: #147a2e;
$red: #df2c00;
$darkcyan: #2385a9;
$gray: #999999;
$darkgray: #dddddd;
$orange: #d34618;
$lightpurple: #6864aa;
$pink: #ce3237;
$darkyellow: #e49c25;
$lightgreen: #3fa29b;
$purple: #8c2d93;
$blue: #1a3cb3;
$fadedblue: #0c3f80;

/* Table in Lamp school */

$daylightdeluxe: #cceafb;
$daylight: #eaf7fe;
$schoolwhite: #fffcf0;
$warmwhite: #fcf0f0;
$warmwhitedeluxe: #fff2d4;
