!!!
%html
  %head
    %title WhatsMyName
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / = render partial: 'layouts/header'
    = render partial: 'shared/flash_messages'
    .pic-wrapper
      %figure.pic-1
      %figure.pic-2
      %figure.pic-3
      %figure.pic-4
    %div
      .container
        = yield
